extends layout

block content
    .container
        nav.navbar.navbar-toggleable-xl.navbar-light.navbar-static-top
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#nav-content', aria-controls='nav-content', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='#')
                if icon
                    i.fa(class=icon, aria-hidden='true')
                else
                    img.logo.align-top(src='images/logo.svg')
                =title
            .collapse.navbar-collapse.justify-content-end
                button#reload.btn.btn-secondary(type='button')
                    i.fa.fa-refresh(aria-hidden='true')

    header.jumbotron.jumbotron-fluid
        .container
            p.lead#loader
                i.fa.fa-spin.fa-circle-o-notch(aria-hidden='true')
                |  Querying Comcast
            .row
            .col-6
                p#data
                    | Used&nbsp;
                    span#data_used
                    | /
                    span#data_total
                    | &nbsp;GB
                    br
                    span#data_remainder
                    | &nbsp;
                    span#data_units
                    | &nbsp;
                    span#data_remainder_label
                    span#data_overage_charges_row
                        br
                        | + $
                        span#data_overage_charges
            .col-6
                p#date
                    i.fa.fa-calendar(aria-hidden='true')
                    span#days_remaining
                    |  days until reset
            #data_progress.progress
                .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 75%')
