extends layout

block content
    .container
        .row
            .col-lg-6.col-md-8.offset-lg-3.offset-md-2.setup-col
                h1
                    .logo Comstat
                p
                    | Please enter your Comcast login details so we can fetch your data usage. They will only be sent to Comcast and saved on your server.
                .setup-box
                    form#accountDetails(action='config', method='post', autocomplete='off')
                        .form-group.row
                            label.col-sm-3.col-form-label(for='username') Username
                            .col-sm-9
                                input#username.form-control(type='text', name='username')
                        .form-group.row
                            label.col-sm-3.col-form-label(for='password') Password
                            .col-sm-9
                                input#password.form-control(type='password', name='password')
                        .form-group.row
                            label.col-sm-3.col-form-label(for='data') Data cap
                            .col-6
                                input#dataCap.form-control(type='number', name='dataCap', maxlength='5', placeholder='1024')
                                span GB
                        .loader
                            i.fa.fa-spin.fa-circle-o-notch.fa-2x(aria-hidden='true')
                            i.fa.fa-check-circle.fa-2x(aria-hidden='true')
                            i.fa.fa-times-circle.fa-2x(aria-hidden='true')
                        input.btn.btn-primary.float-sm-right(type='submit', value='Submit')
                        .clearfix
