nav {
	padding: .5rem 0rem !important;
	.navbar-brand {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: default;
		.logo {
			height: 30px;
			display: inline-block !important;
		}
		.logo,
		.fa {
			margin-right: 10px;
		}
	}
	#reload {
		cursor: pointer;
		text-align: center;
	}
}

header {
	.lead {
		margin: 0 auto;
		.fa-spin {
			margin-right: 5px;
		}
	}
	#percent {
		font-size: 5rem;
		font-weight: 200;
		line-height: 0.8;
		margin-bottom: 15px;
	}
	#details {
		text-align: right;
		position: absolute;
	    bottom: -5px;
		right: 15px;
	}
	.preload,
	#data_overage_charges_row {
		display: none;
	}
	#data_overage_charges_row {
		font-weight: bold;
	}
	.progress {
		background: #fff !important;
		font-size: 1.25rem;
		line-height: 2rem;
		text-align: right;
	}
	.progress-bar {
		height: 2rem !important;
	}
}

.half-transparent {
	opacity: 0.5;
}

@media (min-width: 768px) {
	#percent {
		font-size: 5.5rem;
	}
}
