header {
    border-radius: 0;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}

header .logo {
    height: 60px;
    margin-top: -10px;
}

#data,
#reload {
    display: none;
}

#reload {
    width: 100%;
    right: 15px;
    cursor: pointer;
}

#data_progress {
    display: none;
    background: #fff !important;
    font-size: 1.25rem;
    line-height: 2rem;
    border: solid 1px #ccc;
}

.progress-bar {
    height: 2rem !important;
}

.half-transparent {
    opacity: 0.5;
}

@media (max-width: 575px) {
    header .display-4 .fa,
    header .display-4 .logo {
        display: none;
    }
}
