nav {
	padding: .5rem 0rem !important;
	.navbar-brand {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: default;
		.logo {
			height: 30px;
			display: inline-block !important;
		}
		.logo,
		.fa {
			margin-right: 10px;
		}
	}
	#reload {
		display: none;
		cursor: pointer;
		text-align: center;
	}
}

header {
	 .fa-spin,
	 .fa-calendar {
		 margin-right: 5px;
	 }
	#data,
	#data_overage_charges_row,
	#date {
		display: none;
	}
	#data_overage_charges_row {
		font-weight: bold;
	}
	#date {
		text-align: right;
	}
	.progress {
		display: none;
		background: #fff !important;
		font-size: 1.25rem;
		line-height: 2rem;
	}
	.progress-bar {
		height: 2rem !important;
	}
}

.half-transparent {
	opacity: 0.5;
}
